<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-heading" data-cy="OrderCreateUpdateHeading">Create or edit a Order</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let totalPriceRef = editForm.get('totalPrice')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalPrice">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="totalPrice"
            id="field_totalPrice"
            data-cy="totalPrice"
            formControlName="totalPrice"
          />
          @if (totalPriceRef.invalid && (totalPriceRef.dirty || totalPriceRef.touched)) {
            <div>
              @if (editForm.get('totalPrice')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('totalPrice')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let placedAtRef = editForm.get('placedAt')!;
        <div class="mb-3">
          <label class="form-label" for="field_placedAt">Placed At</label>
          <div class="d-flex">
            <input
              id="field_placedAt"
              data-cy="placedAt"
              type="datetime-local"
              class="form-control"
              name="placedAt"
              formControlName="placedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (placedAtRef.invalid && (placedAtRef.dirty || placedAtRef.touched)) {
            <div>
              @if (editForm.get('placedAt')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('placedAt')?.errors?.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (orderStatus of orderStatusValues; track $index) {
              <option [value]="orderStatus">
                {{
                  { null: '', PENDING: 'PENDING', PAID: 'PAID', SHIPPED: 'SHIPPED', CANCELLED: 'CANCELLED', COMPLETED: 'COMPLETED' }[
                    orderStatus
                  ]
                }}
              </option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection; track $index) {
              <option [ngValue]="userOption">{{ userOption.login }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
