<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (order(); as orderRef) {
      <div>
        <h2 data-cy="orderDetailsHeading"><span>Order</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ orderRef.id }}</span>
          </dd>
          <dt><span>Total Price</span></dt>
          <dd>
            <span>${{ orderRef.totalPrice }}</span>
          </dd>
          <dt><span>Placed At</span></dt>
          <dd>
            <span>{{ orderRef.placedAt | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Books Ordered</span></dt>
          <dd>
            <table class="table table-striped" *ngIf="orderRef.items?.length; else noBooks">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of orderRef.items">
                  <td>
                    <ng-container *ngIf="item.book">
                      <a [routerLink]="['/book', item.book.id, 'view']">{{ item.book.title }}</a>
                    </ng-container>
                    <ng-container *ngIf="!item.book">
                      <span>No book details</span>
                    </ng-container>
                  </td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price | currency }}</td>
                  <td>{{ (item.price ?? 0) * (item.quantity ?? 0) | currency }}</td>
                </tr>
              </tbody>
            </table>

            <ng-template #noBooks>
              <p>No books in this order.</p>
            </ng-template>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>
      </div>
    }
  </div>
</div>
