<div class="row mt-8" style="margin-top: 10rem">
  <div class="col-md-10 col-lg-8 text-center mx-auto">
    <!--    @if (account() !== null) {-->
    <h1 class="display-4"><span>Welcome to the Bookstore!</span></h1>
    <h3 class="mt-3"><span>Search through our catalogue:</span></h3>

    <div class="mt-4">
      <form (ngSubmit)="searchBooks()">
        <div class="input-group input-group-lg">
          <label class="visually-hidden" for="homeSearch">Search for Books</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="searchQuery"
            id="homeSearch"
            name="homeSearch"
            placeholder="Search for books by title, author, or description..."
          />
          <button type="submit" class="btn btn-primary">
            <fa-icon icon="search"></fa-icon>
            <span class="d-none d-md-inline ms-1">Search</span>
          </button>
        </div>
      </form>
      <div class="mt-5">
        <a routerLink="/book" class="btn btn-info">
          <fa-icon icon="book"></fa-icon>
          <span class="ms-1">Browse All Books</span>
        </a>
      </div>
    </div>
    <!--    }-->

    <div class="mt-4">
      @if (account() === null) {
        <div class="alert alert-warning">
          <span>If you want to purchase books or leave reviews, </span>
          <a class="alert-link" (click)="login()">sign in</a>
          <span> or </span>
          <a class="alert-link" routerLink="/account/register">register a new account.</a>
          <span>
            <br />
            <br />Or, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;)
            <br />- User (login=&quot;user&quot; and password=&quot;user&quot;).
          </span>
        </div>
      }
    </div>
  </div>
</div>
